body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

header {
  /* Set text alignment to center */
  text-align: center;
}

main {
  /* Set maximum width to be 800 pixels */
  max-width: 800px;
  /* Set margin to be automatically calculated on all sides */
  margin: auto;
  /* Set padding to be 0 pixels top & bottom, and 20 pixels left & right */
  padding: 0px 20px;
}
 .header {
  padding: 60px;
  text-align: center;
  background: #3c3c3c;
  color: white;
  font-size: 30px;
    Set-Cookie: key=value; SameSite=Strict, Secure
}
